

.centered {

    background-color: white;
    margin: 20px auto;
    text-align: center;
    width: 800px;
    padding: 10px;
}
.res{
     border-style: solid;
    border-color: red;
  /*background-color:#b6b6b6;*/
    margin: 0px auto;
    text-align: center;
    width: 400px;
    padding: 5px;
}

#geo-input{
  width: 500px;
}